#proposal-group{
  background: #fff;
  clear: both;
  margin: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  li {
    list-style: none;
    display: inline-block;
  }
  a {
    text-decoration: none;
    color: #fff;
    margin: 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-position: center 30px;
    background-repeat: no-repeat;
    width: 140px;
    height: 40px;
    display: inline-block;
    font-size: 14px;
    font-family: asap_bold, sans;
    font-weight: bolder;
    text-align: center;
    padding-top: 100px;
    overflow: hidden;
    border-width: 2px;
    border-style: solid;
    hover: {
      border-color: #fff !important;
    }
  }
}

