.proposal-detail {
  li {
    list-style: none;
    width: 70%;
    padding: 0;
    height: 50px;
    overflow: hidden;

    a {
      text-decoration: none;
      text-transform: uppercase;
      padding: 15px 35px;
      margin: 0;
      width: 30%;
      display: inline-block;
      span {
        padding-left: 40px;
      }
      font: {
        size: larger;
        weight: bold;
      }
      background-size: 32px;
      color: white;
    }
  }

  .categories {
    select {
      height: 57px;
      width: 60%;
      margin: 0;
      text-transform: uppercase;
      border: 0;
      background: #EEEFF1;
      float: right;
    }

    .proposal-header {
      position: relative;

      .title, .abstract p {
        position: absolute;
        right: 0;
        color: #fff;
        width: 50%;
        vertical-align: middle;
      }

      .title {
        padding: 20px;
        text-transform: uppercase;
        bottom: 170px;
        font-size: 32px;
        text-align: center;
      }

      .abstract p {
        padding: 5px 20px 20px 20px;
        bottom: 140px;
        font-size: 14px;
        text-align: center;
      }

      .show_body {
        width: 100%;
        padding: 30px 0;
        margin: 10px auto;
        text-align: center;

        a {
          display: inline-block;
          width: 70%;
          text-decoration: none;
          color: #fff;
          font-size: 38px;
          font-weight: bold;
          text-transform: uppercase;
          margin: 0 auto;
          text-align: center;
        }

        span {
          padding: 5px 15px;
        }
      }
    }
  }

  @each $category, $color in $categories {
    .#{$category}{
      .results-container {
        &:before {
          content:"";
          display:table;
          clear:both;
        }
        .results-content {
          border: 1px solid $color;
          margin-top: 20px;
          .vote-result {
            font-weight: bolder;
            font-size: 12px;
            text-transform: uppercase;
            color: gray;
            border: none;
            margin: 10px;
            border-radius: 6px;
            text-align: center;
            text-decoration: none;
            padding: 9px;
            display: block;
            float: right;
          }
        }
        table {
          clear: both;
          margin-top: 20px;
          tbody tr:nth-child(odd) {
            background-color: #e5e5e5;
          }

          .abstract-text {
            width: 80%;
          }
          .votes-for {
            width: 10%;
            text-align: center;
          }
          .votes-against {
            @extend .votes-for;
          }
          .score {
            @extend .votes-for;
          }
          .header {
            line-height: 32px;
            font-weight: bold;
            text-align: center;
            color: rgb(68, 68, 68);
            .votes-for {
              background-image: url(./images/result-like.png);
              background-repeat: no-repeat;
              display: inline-block;
              background-position: center;
            }
            .votes-against {
              background-image: url(./images/result-dislike.png);
            }
            .score {
              background-image: none;
            }
          }

          .truncate {
            display: table;
            table-layout: fixed;
            width: 100%;
          }
          .truncated {
            overflow-x: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          tr {
            color: rgb(77, 77, 77);
          }
        }
      }

      .proposal-header {
        .title {
          background: $color;
        }
        .abstract p {
          background: $color;
        }
        .show_body {
          background: $color url(images/black-alpha.png);
          border-top: 5px solid $color;

          a {
            background: transparent url(images/white-line.png) left center repeat-x;
          }

          span {
            background: $color url(images/black-alpha.png);
          }
        }
      }
      ul{
        padding: 0px;
      }
      .abstract{
        color: #083e87;
        width: 100%;
        margin: 0;
        font-size: 24px;
        font-weight: bold;

        img {
          width: 100%;
        }
      }
      .body{
        margin-bottom: 20px;
      }
      .title{
        margin: 25px 0px;
        font: {
          size: larger;
          weight: bold;
        }
      }
      .conclear{
        clear: both;
      }
      .container-title{
          color: $color;
          font-weight: bolder;
          font-size: 38px;
          margin: 20px;
          text-align: left;
      }
      .message {
        margin-left: 20px;
        font-size: 12px;
        color: #333;
      }
      input, textarea {
        border-color: $color;
      }
      .container-button a, input[type=submit] {
        font-weight: bolder;
        font-size: 14px;
        text-transform: uppercase;
        background-color: $color;
        color: white;
        width: 60%;
        border: none;
        margin: 20px auto;
        border-radius: 6px;
        text-align: center;
        text-decoration: none;
        padding: 20px;
        display: block;

        span {
          padding-left: 20px;
          background: transparent url(images/airplane.png) left center no-repeat;
        }
      }
      .make-proposal-container{
        .subtitle, .info {
          margin: 20px;
          color: #18376C;
        }
        .subtitle {
          font-size: 24px;
          font-weight: bold;
        }
        .info {
          font-size: 14px;
        }
        .name {
          margin-bottom: 15px;
        }
        width: 50%;
        height: $container-height;
        min-height: $container-height;
        float: left;
        text-align: left;
        .make-proposal{
          border: 1px solid $color;
          height: $container-height;
          min-height: $container-height;
          margin: 0 10px 20px 0;
        }
        .make-proposal-button{
          @extend .container-button;
        }
        .send-proposal-button {
          @extend .container-button;
        }
        #article_abstract {
          height: 15%;
        }
        label {
          color: gray;
        }
      }
      .support-proposal-container{
        width: 50%;
        float: left;
        height: $container-height;
        min-height: $container-height;
        text-align: center;
        .container-title {
          text-align: center;
        }
        .support-proposal{
          border: 1px solid $color;
          height: $container-height;
          min-height: $container-height;
          margin: 0 0 20px 10px;
        }
        .subtitle {
          color: #333;
        }
        .vote-actions {
          .like {
            background-image: url(./images/like.png);
            background-repeat: no-repeat;
            display: inline-block;
            height: 72px;
            width: 76px;
            margin: 0 6%;
          }
          .dislike {
            background-image: url(./images/dislike.png);
          }
          .skip {
            font-weight: bolder;
            font-size: 14px;
            text-transform: uppercase;
            background-color: $color;
            color: white;
            width: 60%;
            border: none;
            margin: 20px auto;
            border-radius: 6px;
            text-align: center;
            text-decoration: none;
            padding: 20px;
            display: block;
          }
          .vote-result {
            text-decoration: none;
            color: $color;
          }
        }
      }
      .experience-proposal-container{
        float: left;
        width: 50%;
        height: $container-height;
        min-height: $container-height;
        text-align: center;
        .experience-proposal{
          border: 1px solid $color;
          height: $container-height;
          min-height: $container-height;
          margin: 20px 10px 0 0;

          p {
            margin: 10px 20px;
            text-align: left;
          }
        }
        .send-experience-button {
          @extend .container-button;
        }
      }
      .talk-proposal-container{
        width: 50%;
        float: left;
        height: $container-height;
        min-height: $container-height;
        text-align: center;
        .talk-proposal{
          border: 1px solid $color;
          height: $container-height;
          min-height: $container-height;
          margin: 20px 0 0 10px;
          text-align: left;

          span {
            font-weight: 14px;
            color: #333;
            display: block;
          }

          div.date, div.time {
            width: 45%;
            text-align: left;
            color: $color;
            display: inline-block;
            margin-top: 20px;
          }

          p {
            margin: 20px;
            text-align: left;
          }

          ul {
            width: 80%;
            display: block;
            margin: 0 auto;

            li {
              width: 100%;
              margin: 0;
              padding: 10px;
              height: auto;
              overflow: visible;
              margin-bottom: 5px;
              background: #EEEFF1;
            }
          }
        }
      }
      li{
        background-color: $color;
        a {
          background-image: url(./images/icons/#{$category}.png);
          background: {
            color: $color;
            position: center left;
            repeat: no-repeat;
          }
        }
      }
    }
  }
}
