.proposal-detail {
  @each $category, $color in $categories {
    .#{$category}{
      ul{
        padding: 0px;
      }
      .abstract{
        text-align: center;
        color: #083e87;
        font-weight: bold;
        font-style: italic;
        margin: 50px 40px 30px 40px;
      }
      .body{
        margin-bottom: 20px;
      }
      .title{
        margin: 25px 0px;
        font: {
          size: larger;
          weight: bold;
        }
      }
      .conclear{
        clear: both;
      }
      .container-title{
          color: $color;
          font-weight: bolder;
          font-size: x-large;
          margin: 10px;
      }
      .make-proposal-container{
        .name {
          margin-bottom: 15px;
        }
        width: 50%;
        height: 90%;
        float: left;
        text-align: center;
        .make-proposal{
          border: 1px solid $color;
          margin: 2% 2% 2% 2%;
          height: 100%;
        }
        .make-proposal-button{
          font-weight: bolder;
          font-size: x-large;
          background-color: $color;
          color: white;
          width: 40%;
          height: 15%;
          border: none;
          margin-top: 8%;
          border-radius: 6px;
        }
        #article_abstract {
          width: 65%;
          height: 15%;
        }
        label {
          color: gray;
        }
      }
      .support-proposal-container{
        width: 50%;
        float: left;
        height: 90%;
        text-align: center;
        .support-proposal{
          border: 1px solid $color;
          height: 96%;
          margin: 2% 2% 2% 2%;
          padding: 10px;
        }
        .subtitle {
          color: rgb(163, 163, 163);
        }
        .vote-actions {
          .like {
            background-image: url(./images/like.png);
            background-repeat: no-repeat;
            display: inline-block;
            height: 72px;
            width: 76px;
            margin: 0 6%;
          }
          .dislike {
            background-image: url(./images/dislike.png);
          }
          .skip {
            display: block;
            font-weight: bolder;
            font-size: x-large;
            background-color: #00a9bd;
            color: white;
            width: 15%;
            margin-top: 4%;
            text-decoration: none;
            border-radius: 6px;
            text-align: center;
            margin-left: auto;
            padding: 10px;
            margin-right: auto;
          }
        }
      }
      .experience-proposal-container{
        float: left;
        width: 50%;
        height: 90%;
        text-align: center;
        .experience-proposal{
          border: 1px solid $color;
          margin: 6% 2% 2% 2%;
          height: 100%;
        }
      }
      .talk-proposal-container{
        width: 50%;
        float: left;
        height: 90%;
        text-align: center;
        .talk-proposal{
          border: 1px solid $color;
          margin: 6% 2% 2% 2%;
          height: 100%;
        }
    
      }
      li{
        background-color: $color;
        padding: { 
          bottom: 20px;
          top: 20px;
        }
        a {
          background-image: url(./images/icons/#{$category}.png);
          padding: 20px 5%;
          font: {
            size: larger;
            weight: bold;
          }
          color: white;
          background: {
            color: $color;
            position: center left;
            repeat: no-repeat;
          }
          span{
            padding-left: 40px;
          }
        }
      }
    }
  }
}
