.proposal-detail {
  li {
    list-style: none;
    width: 70%;
    padding: 0;
    height: 50px;
    overflow: hidden;

    a {
      text-decoration: none;
      text-transform: uppercase;
      padding: 15px 35px;
      margin: 0;
      width: 30%;
      display: inline-block;
      span {
        padding-left: 40px;
      }
      font: {
        size: larger;
        weight: bold;
      }
      background-size: 32px;
      color: white;
    }
  }

  .categories {
    select {
      height: 57px;
      width: 60%;
      margin: 0;
      text-transform: uppercase;
      border: 0;
      background: #EEEFF1;
      float: right;
    }

    .proposal-header {
      position: relative;

      .title, .abstract p, .show_body a {
        position: absolute;
        right: 0;
        color: #fff;
        width: 50%;
        vertical-align: middle;
      }

      .title {
        padding: 20px 20px 5px 20px;
        text-transform: uppercase;
        bottom: 60px;
        font-size: 32px;
      }

      .abstract p {
        padding: 5px 20px 20px 20px;
        bottom: 40px;
        font-size: 14px;
        text-align: left;
      }

      .show_body a {
        display: inline-block;
        width: 30%;
        right: 20%;
        bottom: 0;
        margin: 0;
        font-size: 16px;
        font-weight: bold;
        padding: 18px 20px;
        text-decoration: none;
        overflow: hidden;
      }
    }
  }

  @each $category, $color in $categories {
    .#{$category}{
      .proposal-header {
        .title {
          background: $color;
        }
        .abstract p {
          background: $color;
        }
        .show_body a {
          background: $color url(images/white-alpha.png);

          span {
            display: inline-block;
            height: 60px;
            width: 66px;
            position: absolute;
            right: 0;
            top: 0;
            background: $color url(images/arrow.png) top right no-repeat;
          }
        }
      }
      ul{
        padding: 0px;
      }
      .abstract{
        color: #083e87;
        width: 100%;
        margin: 20px 0;

        img {
          width: 100%;
        }
      }
      .body{
        margin-bottom: 20px;
      }
      .title{
        margin: 25px 0px;
        font: {
          size: larger;
          weight: bold;
        }
      }
      .conclear{
        clear: both;
      }
      .container-title{
          color: $color;
          font-weight: bolder;
          font-size: x-large;
          margin: 10px;
      }
      .container-button{
        font-weight: bolder;
        font-size: x-large;
        background-color: $color;
        color: white;
        width: 40%;
        height: 15%;
        border: none;
        margin-top: 8%;
        border-radius: 6px;
      }
      .make-proposal-container{
        .name {
          margin-bottom: 15px;
        }
        width: 50%;
        height: 90%;
        float: left;
        text-align: center;
        .make-proposal{
          border: 1px solid $color;
          margin: 2% 2% 2% 2%;
          height: 100%;
        }
        .make-proposal-button{
          @extend .container-button;
        }
        .send-proposal-button {
          @extend .container-button;
        }
        #article_abstract {
          width: 65%;
          height: 15%;
        }
        label {
          color: gray;
        }
      }
      .support-proposal-container{
        width: 50%;
        float: left;
        height: 90%;
        text-align: center;
        .support-proposal{
          border: 1px solid $color;
          height: 96%;
          margin: 2% 2% 2% 2%;
          padding: 10px;
        }
        .subtitle {
          color: rgb(163, 163, 163);
        }
        .vote-actions {
          .like {
            background-image: url(./images/like.png);
            background-repeat: no-repeat;
            display: inline-block;
            height: 72px;
            width: 76px;
            margin: 0 6%;
          }
          .dislike {
            background-image: url(./images/dislike.png);
          }
          .skip {
            display: block;
            font-weight: bolder;
            font-size: x-large;
            background-color: #00a9bd;
            color: white;
            width: 15%;
            margin-top: 4%;
            text-decoration: none;
            border-radius: 6px;
            text-align: center;
            margin-left: auto;
            padding: 10px;
            margin-right: auto;
          }
        }
      }
      .experience-proposal-container{
        float: left;
        width: 50%;
        height: 90%;
        text-align: center;
        .experience-proposal{
          border: 1px solid $color;
          margin: 6% 2% 2% 2%;
          height: 100%;
        }
        .send-experience-button {
          @extend .container-button;
        }
      }
      .talk-proposal-container{
        width: 50%;
        float: left;
        height: 90%;
        text-align: center;
        .talk-proposal{
          border: 1px solid $color;
          margin: 6% 2% 2% 2%;
          height: 100%;
        }
    
      }
      li{
        background-color: $color;
        a {
          background-image: url(./images/icons/#{$category}.png);
          background: {
            color: $color;
            position: center left;
            repeat: no-repeat;
          }
        }
      }
    }
  }
}
