// colors
$border-color: #d6dcd7;
$default-color: #172938;
$header-color: #03316f;
$link-color: #335277;

// font sizes
$category-select-size: 19px;
$category-title-size: 18px;
$default-font-size: 16px;
$detail-proposal-size: 30px;
$detail-title-size: 32px;
$header-h1-size: 28px;
$proposal-link-size: 24px;
$proposal-subtitle-size: 20px;
$proposal-view-size: 38px;
$small-font-size: 14px;

// radius sizes
$default-radius-size: 7px;

// padding defaults
$default-spacing-size: 20px;

// dictionaries
$categories: (saude: #00a9bd, seguranca: #e34748, educacao: #ffb400, reducao-da-pobreza: #51d0b3);
$categories-descriptions: (saude: "Saúde é direito de todos e dever do Estado. O Sistema Único de Saúde (SUS) é universal, integral e de responsabilidade do Governo Federal, estados e municípios. Atende a todos os brasileiros.", seguranca: "A Segurança Pública é um direito fundamental, dever do Estado e responsabilidade de todos. A proteção da vida, a disseminação da cultura de paz e a integração dos órgãos e instituições são os maiores compromissos desta política pública.", educacao: "O Brasil avançou na qualidade e ampliou o acesso à educação em todos os níveis ‐ da creche à pós‐graduação. Com o Plano Nacional de Educação (PNE) para os próximos 10 anos, o Brasil consolida um caminho de oportunidades, por meio da educação, para todos os brasileiros.", reducao-da-pobreza: "Com o esforço do Brasil para reduzir a pobreza e a desigualdade, na última década, 36 milhões de pessoas superaram a miséria e o país saiu do Mapa da Fome das Nações Unidas.");

body {
  font-family: 'Open Sans', sans-serif;
  font-size: $default-font-size;
  font-weight: 400;
}

#proposal {
  &-categories {
    border-bottom: 1px solid $header-color;
    border-left: 1px solid $header-color;
    border-right: 1px solid $header-color;
  }
  &-result {
    margin: $default-spacing-size / 2;
    h1 {
      border-bottom: 1px solid $border-color;
      padding-bottom: $default-spacing-size;
      text-transform: uppercase;
      a {
        color: $header-color;
        font-family: 'Asap', sans-serif;
        font-size: $header-h1-size;
      }
    }
    nav {
      ul {
        font-size: 0;
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;
      }
      li {
        margin: 0;
        padding: 0;
        display: inline-block;
        width: 50%;
      }
      a {
        background-color: $header-color;
        border-left: 1px solid $header-color;
        border-right: 1px solid $header-color;
        border-top: 1px solid $header-color;
        color: #fff;
        display: block;
        font-family: 'Asap', sans-serif;
        font-size: $default-font-size;
        font-weight: 700;
        padding-bottom: $detail-proposal-size / 2;
        padding-left: $detail-proposal-size / 4;
        padding-right: $detail-proposal-size / 4;
        padding-top: $detail-proposal-size / 2;
        text-transform: uppercase;
        text-align: center;
        &.active {
          background-color: #fff;
          color: $header-color;
        }
      }
    }
  }
}
@each $category, $color in $categories {
  .#{$category} {
    .abstract {
      p {
        background-color: $color;
      }
    }
    .category {
      background: $color url(images/icons/#{$category}.png) no-repeat left center;
      background-size: 32px;
    }
    .container {
      &-title {
        color: $color;
      }
    }
    .send-button {
      background-color: $color;
    }
    .show_body {
      border-top-color: $color;
      background-color: darken($color, 12%);
      span {
        background-color: darken($color, 12%);
      }
    }
    .title {
      background-color: $color;
    }
  }
}
.abstract {
  img {
    width: 100%;
  }
  p {
    color: #fff;
    font-size: $small-font-size;
    font-weight: 700;
    margin-bottom: 0;
    padding-bottom: $default-spacing-size / 4;
    text-align: center;
  }
}
.container {
  &-title {
    font-size: $detail-proposal-size;
  }
}
.go-back {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #333;
  display: inline-block;
  font-size: $small-font-size;
  height: 57px;
  padding: 6px 12px;
}
.proposal {
  &-category {
    height: 57px;
  }
  &-link {
    color: #fff;
    display: inline-block;
    font-size: $category-title-size;
    font-weight: 700;
    padding-bottom: $default-spacing-size - 5;
    padding-left: $default-spacing-size + 15;
    padding-right: $default-spacing-size + 15;
    padding-top: $default-spacing-size - 5;
    text-transform: uppercase;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
  &-selection {
    background-color: #EEEFF1;
    border: 0;
    cursor: pointer;
    float: right;
    font-size: $default-font-size;
    font-weight: 300;
    height: 57px;
    text-transform: uppercase;
    width: 100%;
  }
}
.send-button {
  border-radius: $default-radius-size;
  margin: auto;
  padding-bottom: $default-spacing-size;
  padding-top: $default-spacing-size;
  text-align: center;
  width: 70%;
  a {
    color: #fff;
    font-size: $small-font-size;
    text-transform: uppercase;
    &:hover {
      text-decoration: none;
    }
  }
  span {
    background: url(images/airplane.png) no-repeat;
    padding-left: $default-spacing-size;
  }
}
.show_body {
  border-top: 5px solid;
  margin-top: $default-spacing-size / 4;
  text-align: center;
  padding-bottom: $default-spacing-size;
  padding-top: $default-spacing-size;
  a {
    background: url(images/white-line.png) repeat-x 50%;
    color: #fff;
    display: block;
    font-size: $proposal-view-size;
    font-weight: 700;
    line-height: 1.1;
    margin-left: $default-spacing-size / 2;
    margin-right: $default-spacing-size / 2;
    text-transform: uppercase;
    &:hover {
      text-decoration: none;
    }
  }
  span {
    display: block;
    margin-left: $default-spacing-size / 2;
    margin-right: $default-spacing-size / 2;
    padding-left: $default-spacing-size / 4;
    padding-right: $default-spacing-size / 4;
  }
}
.subtitle {
  color: $header-color;
  font-size: $proposal-subtitle-size;
  font-weight: 700;
}
.title {
  color: #fff;
  font-size: $detail-title-size;
  font-weight: 700;
  padding-top: $default-spacing-size / 2;
  text-align: center;
  text-transform: uppercase;
}