// ------------------------------------
// Organização da folha de estilo:
// 
// 1 - Variaveis
//   1.1 - espacamento
//   1.2 - arredondamento
//   1.3 - tamanhos de fontes
//   1.4 - dicionarios
//   1.5 - cores
// 2 - Mixins
//   2.1 - hover
// 3 - Base
// 4 - Grid
// 5 - Elementos reusaveis
//   5.1 - botao padrao
//   5.2 - botao voltar
//   5.3 - icones de compartilhamento
// 6 - Blocos de elementos
//   6.1 - compartilhar
//   6.2 - texto do Dialoga Brasil
//   6.3 - tabs de temas e programas
//   6.4 - blocos dos temas
//   6.5 - listagem dos programas
//   6.6 - blocos dos programas
//   6.7 - header do programa e select box
//   6.8 - imagem destaque do programa, titulo, descricao e botao de acesso
//   6.9 - login form
//   6.10 - votacao
//   6.11 - lista de resultados
//   6.12 - paginador
//   6.13 - calendario dos ministros
//   6.14 - listas
// 7 - Modificadores
// 8 - Cores do Temas
// ------------------------------------


// ------------------------------------
// 1 - Variaveis
// ------------------------------------

// 1.1 - espacamento
$gutter: 20px

// 1.2 - arredondamento
$radius: 6px

// 1.3 - tamanhos de fontes
$font-size-base: 16px
$font-size-big: $font-size-base + 2
$font-size-small: $font-size-base - 2
$font-size-h1: 28px
$font-size-h2: 38px
$font-size-h3: 28px
$font-size-h4: 34px
$theme-size-header: 24px
$proposal-title: 32px

// 1.4 - dicionarios
$categories: (saude: #00a9bd, seguranca-publica: #e34748, educacao: #ffb400, reducao-da-pobreza: #51d0b3)
$categories-descriptions: (saude: "Saúde é direito de todos e dever do Estado. O Sistema Único de Saúde (SUS) é universal, integral e de responsabilidade do Governo Federal, estados e municípios. Atende a todos os brasileiros.", seguranca-publica: "A Segurança Pública é um direito fundamental, dever do Estado e responsabilidade de todos. A proteção da vida, a disseminação da cultura de paz e a integração dos órgãos e instituições são os maiores compromissos desta política pública.", educacao: "O Brasil avançou na qualidade e ampliou o acesso à educação em todos os níveis ‐ da creche à pós‐graduação. Com o Plano Nacional de Educação (PNE) para os próximos 10 anos, o Brasil consolida um caminho de oportunidades, por meio da educação, para todos os brasileiros.", reducao-da-pobreza: "Com o esforço do Brasil para reduzir a pobreza e a desigualdade, na última década, 36 milhões de pessoas superaram a miséria e o país saiu do Mapa da Fome das Nações Unidas.")

// 1.5 - cores
$header-color: #03316f
$link-color: #335277


// ------------------------------------
// 2 - Mixins
// ------------------------------------

// 2.1 - hover
=hover($color, $amount)
  transition: all 400ms
  &:hover
    background-color: darken($color, $amount)
    text-decoration: none

// ------------------------------------
// 3 - Base
// ------------------------------------

body
  font-family: 'Open Sans', sans-serif
  font-size: $font-size-base
  font-weight: 400
h1
  border-bottom: 1px solid #d6dcd7
  font-family: asap, sans
  font-size: $font-size-h1
  font-weight: 500
  padding-bottom: $gutter
  text-transform: uppercase
  a
    color: $header-color
h2
  border-bottom: 1px solid #eeeff1
  font-size: $font-size-h2
  font-weight: 300
  margin-bottom: $gutter * 2
  padding-bottom: $gutter
  text-transform: uppercase
  small
    display: block
    font-size: 16px
    padding-top: $gutter * 0.25
    text-transform: none
h3
  font-size: $font-size-h3
  font-weight: 300
  text-transform: uppercase
h4
  font-size: $font-size-h4
  font-weight: 500
p,ul,select
  color: #000

// ------------------------------------
// 4 - Grid
// ------------------------------------

.container, .row
  margin-bottom: $gutter


// ------------------------------------
// 5 - Elementos reusaveis
// ------------------------------------

// 5.1 - botao padrao
.button
  border-bottom: 3px solid #000
  border-left: 0
  border-right: 0
  border-top: 0
  border-radius: $radius
  color: #fff
  cursor: pointer
  display: block
  font-size: $font-size-base
  font-weight: 700
  padding-bottom: $gutter * 0.75
  padding-left: 0
  padding-right: 0
  padding-top: $gutter * 0.75
  text-align: center
  +hover(#000, 15%)
  &:hover, &:focus
    color: #fff
  &-inline
    display: inline-block
    padding-bottom: $gutter * 0.5 !important
    padding-top: $gutter * 0.5 !important
  &-cancela
    @extend .button
  &-send
    span
      padding-left: $gutter * 1.5
      background-image: url(images/airplane.png)
      background-position: left center
      background-repeat: no-repeat
  &-participe
    .fa
      margin-right: $gutter * 0.5

// 5.2 - botao voltar
.btn
  background-color: transparent
  border: 0
  color: #fff
  font-size: $font-size-small
  padding-bottom: 0
  padding-left: $gutter * 0.5
  padding-right: $gutter * 0.5
  padding-top: 0
  vertical-align: middle

// 5.3 - icones de compartilhamento
.icon
  background-color: transparent !important
  background-repeat: no-repeat
  background-position: 50% !important
  background-size: auto !important
  border: 0 !important
  display: inline-block
  height: 36px
  min-width: 0 !important
  padding: 0 !important
  text-align: left
  text-indent: -999999px
  width: 36px
  &-facebook
    background-image: url(images/icons/icon-facebook.png) !important
    &.disabled
      background-image: url(images/icons/icon-facebook-disabled.png) !important
  &-twitter
    background-image: url(images/icons/icon-twitter.png) !important
    &.disabled
      background-image: url(images/icons/icon-twitter-disabled.png) !important
  &-gplus
    background-image: url(images/icons/icon-gplus.png) !important
    &.disabled
      background-image: url(images/icons/icon-gplus-disabled.png) !important
  &-whatsapp
    background-image: url(images/icons/icon-whatsapp.png) !important
    &.disabled
      background-image: url(images/icons/icon-whatsapp-disabled.png) !important


// ------------------------------------
// 6 - Blocos de elementos
// ------------------------------------

// 6.1 - compartilhar
.social
  position: relative
  z-index: 1
  &.top
    margin-top: $gutter * 2
    float: right
  &.right
    padding-top: 10px
    span
      color: #000
      display: inline-block
      font-size: 12px
      font-weight: 300
      padding-right: 10px
      text-align: right
      vertical-align: middle
    ul
      display: inline-block
      vertical-align: middle
  span
    display: block
    margin-bottom: 10px
  ul
    list-style: none
    padding-left: 0
  li
    display: inline-block
    padding: 0 2px !important

// 6.2 - texto do Dialoga Brasil
#content
  p
    font-family: asap, sans
    margin-bottom: $gutter * 3
    margin-left: $gutter
    margin-right: $gutter
    margin-top: $gutter

// 6.3 - tabs de temas e programas
.tab
  margin-top: $gutter
  ul
    font-size: 0
    list-style: none
    margin-bottom: 0
    padding-left: 0
  li
    display: inline-block
    font-size: $font-size-base
    width: 50%
  a
    background-color: #efefef
    border-bottom: 1px solid #000
    color: #000
    display: block
    font-weight: 700
    padding-bottom: $gutter
    padding-left: $gutter * 0.25
    padding-right: $gutter * 0.25
    padding-top: $gutter
    text-align: center
    text-transform: uppercase
  .active
    background-color: #fff
    border-bottom: 1px solid #fff
    border-left: 1px solid #000
    border-right: 1px solid #000
    border-top: 1px solid #000

// 6.4 - blocos dos temas
.themes
  font-size: 0
  text-align: center
  li
    display: inline-block
    font-size: $font-size-base
    width: 140px
    margin: $gutter * 0.5
  a
    background-color: #000
    border-radius: $radius
    color: #fff
    display: block
    font-family: asap, sans
    font-size: $font-size-small
    font-weight: 700
    padding-bottom: $gutter * 0.25
    padding-top: $gutter * 5.5
    &:hover,&:focus
      text-decoration: none
  .arrow-box
    position: relative
    top: $gutter
    &:after
      bottom: 100%
      left: 50%
      border: solid transparent
      content: ""
      position: absolute
      border-bottom-color: #000
      border-width: 8px
      margin-left: -8px

// 6.5 - listagem dos programas
#proposal
  &-categories
    border-bottom: 1px solid #000
    border-left: 1px solid #000
    border-right: 1px solid #000
    padding-bottom: 0
    padding-left: $gutter
    padding-right: $gutter
    padding-top: $gutter * 0.5
    ul
      list-style: none
      padding-left: 0
  &-group
    @extend #proposal-categories
.proposal
  &-container
    background-color: #ccc
    border-radius: $radius
    margin-bottom: $gutter
    padding: $gutter $gutter 0
    .name
      color: #fff
      border-bottom: 2px solid #fff
      font-family: asap, sans
      font-size: $theme-size-header
      font-weight: 700
      padding-bottom: $gutter * 0.75
  &-list
    list-style: none
    padding-left: 0
  &-group
    ul
      list-style: none
      padding-left: 0

// 6.6 - blocos dos programas
.box
  background-color: #fff
  border: 1px solid gray
  border-radius: $radius
  color: #000
  display: block
  height: 200px
  margin-top: $gutter * 1.5
  overflow: auto
  padding: $gutter
  transition: all 400ms
  &:hover
    background-color: darken(#fff, 10%)
    color: #000
    text-decoration: none
  p
    border-bottom: 1px dotted #000
    padding-bottom: $gutter * 0.75
  &-propostas
    height: 500px
    border: 1px solid
    margin-bottom: $gutter * 0.5
    margin-top: 0
    padding: $gutter
    position: relative
    &:hover
      background-color: #fff
    p
      border-bottom: 0
      padding-bottom: inherit
  &-apoie
    p
      @extend .box-subtitle
      border-bottom: 0
      padding-bottom: inherit
  &-header
    color: $link-color
    font-family: asap, sans
    font-size: $theme-size-header
    font-weight: 700
  &-category
    font-size: $font-size-base
    font-weight: 700
    list-style: none
    padding-left: 0
    li
      color: #fff
      display: inline-block
      padding-bottom: $gutter * 0.25
      padding-left: $gutter * 1.5
      padding-right: $gutter * 0.5
      padding-top: $gutter * 0.25
  &-title
    font-size: $font-size-h2
    font-weight: 400
    margin-bottom: $gutter
  &-subtitle
    color: $link-color
    font-size: $theme-size-header
    font-weight: 700
    line-height: 1.2
    margin-bottom: $gutter
  &-info
    margin-bottom: $gutter
  &-footer
    margin-bottom: $gutter * 0.25
    margin-left: auto
    margin-right: auto
    margin-top: $gutter
    width: 40%
  &-bottom
    @extend .box-footer
    bottom: 10px
    color: #000
    display: inline-block
    font-size: $font-size-small
    font-weight: 700
    margin-bottom: $gutter * 0.75
    margin-top: 0
    text-align: center
    &:hover, &:focus
      color: #000
  &-center
    text-align: center

// 6.7 - header do programa e select box
.select
  background-color: #000
  margin-bottom: $gutter * 0.5
  padding: $gutter * 0.25
  .proposal
    &-link
      color: #fff
      display: inline-block
      font-size: $theme-size-header
      font-weight: 700
      padding-bottom: 0
      padding-left: $gutter * 2.25
      padding-right: 0
      padding-top: 0
      vertical-align: middle
    &-selection
      background-color: #fff
      border: 0
      border-radius: 3px
      float: right
      margin: 4px
      width: 60%
      vertical-align: middle

// 6.8 - imagem destaque do programa, titulo, descricao e botao de acesso
.proposal-header
  position: relative
  .title
    background-color: #000
    bottom: 170px
    color: #fff
    font-size: $proposal-title
    font-weight: 700
    margin-bottom: $gutter * 1.25
    margin-left: 0
    margin-right: 0
    margin-top: $gutter * 1.25
    padding: $gutter
    position: absolute
    right: 0
    text-align: center
    text-transform: uppercase
    width: 50%
    vertical-align: middle
  .show_body
    margin-bottom: $gutter
    margin-top: $gutter
    a
      background-color: lighten(#000, 40%)
      border-bottom: 5px solid #000
      border-left: 0
      border-right: 0
      border-top: 0
      border-radius: $radius
      color: #fff
      font-size: $font-size-h2
      font-weight: 700
      padding-bottom: $gutter * 0.5
      padding-left: 0
      padding-right: 0
      padding-top: $gutter * 0.5
      text-align: center
      +hover(#000, 15%)
  img
    width: 100%
  p
    @extend .title
    bottom: 140px
    font-size: $font-size-small
    margin-bottom: $gutter * 0.5
    padding-top: $gutter * 0.25
    text-transform: none

// 6.9 - login form
.login,.signup
  text-align: left
  .message
    background: #fcc
    border: 1px solid #b00
    border-radius: $radius
    color: #b00
    font-weight: 700
    padding-bottom: $gutter * 0.25
    padding-left: $gutter * 0.5
    padding-right: $gutter * 0.5
    padding-top: $gutter * 0.25
    margin-bottom: $gutter
  input
    border: 1px solid
    display: block
    margin-bottom: $gutter
    padding-bottom: $gutter * 0.25
    padding-left: $gutter * 0.5
    padding-right: $gutter * 0.5
    padding-top: $gutter * 0.25
    width: 100%
    &.button
      @extend .button
      margin-bottom: $gutter * 0.25

  .label
    vertical-align: middle
  .icon
    vertical-align: middle
  .oauth
    margin-top: $gutter * 0.5
    text-align: right
  .forgot-password
    display: block
    font-size: $font-size-small
    text-align: center
  i
    font-style: normal
    font-weight: 700
    padding-left: $gutter * 0.25
    padding-right: $gutter * 0.25
  .row
    input
      margin-bottom: 0

// 6.10 - votacao
.vote-actions
  .like
    background: url(images/like.png) no-repeat
    display: inline-block
    height: 72px
    margin: 0 6%
    width: 76px
  .dislike
    background-image: url(images/dislike.png)

// 6.11 - lista de resultados
.results-content
  .total
    float: left
  .vote-result
    float: right
  .updated-at
    @extend .vote-result
    margin-top: $gutter
  table
    clear: both
    font-weight: 300
    tr:nth-child(odd)
      background: #e5e5e5
    td
      padding: $gutter * 0.25
    .header
      font-weight: 700
      text-align: center
    .abstract-text
      width: 80%
      p
        margin: inherit
    .value
      text-align: center
      width: 10%
    .truncate
      display: table
      table-layout: fixed
      width: 100%
    .truncated
      overflow-x: hidden
      text-overflow: ellipsis
      white-space: nowrap

// 6.12 - paginador
.paging
  padding: $gutter * 0.25
  ul
    display: table
    list-style: none
    margin: auto
    padding: 0
  li
    float: left
  span
    @extend .page-link
  .page-link
    padding: 0 7px
    font-size: $font-size-small
    font-weight: 400
    text-align: center
    background-color: #000
    color: #fff
    display: inline-block
    line-height: 24px
  .current
    background-color: lighten(#000, 15%)
  .next
    border-radius: 0 $radius $radius 0
  .prev
    border-radius:  $radius 0 0 $radius

// 6.13 - calendario dos ministros
.slick
  &-slider
    list-style: none
    margin-bottom: 0
    margin-left: auto
    margin-right: auto
    margin-top: $gutter * 2
    padding: 0
    position: relative
    width: 80%
    li
      background-color: #eeeff1
      margin-bottom: $gutter * 0.25
      padding: $gutter * 0.5
    span
      display: block
    .date, .time
      display: inline-block
      margin-top: $gutter
      width: 45%
  &-list
    overflow: hidden
  &-slide
    float: left
  &-def
    background-color: transparent
    border: 0
    color: #000
    font-size: 0
    position: absolute
    top: 43%
    width: 20px
    &:before
      font-family: "FontAwesome"
      font-size: 20px
  &-prev
    @extend .slick-def
    left: -25px
    &:before
      content: "\f053"
  &-next
    @extend .slick-def
    right: -25px
    &:before
      content: "\f054"
  &-disabled
    opacity: 0.25

// 6.14 - listas
.list
  &-unstyled
    li
      border-top: 1px solid
      font-size: $font-size-big
      font-weight: 700
      padding: $gutter
      &:first-child
        border-top: 0
  &-styled
    margin-left: $gutter
    padding-left: 0


// ------------------------------------
// 7 - Modificadores
// ------------------------------------
.hide
  display: none
h3.titulo-destaque
  font-size: $font-size-h3 + 10
@each $category, $description in $categories-descriptions
  section.#{$category}
    .description
      margin-top: $gutter
      &:before
        color: #fff
        content: "#{$description}"
        font-family: asap, sans
        padding-top: $gutter


// ------------------------------------
// 8 - Cores do Temas
// ------------------------------------

@each $category, $color in $categories
  .#{$category}
    color: $color
    .button,.show_body a
      background-color: $color
      border-color: darken($color, 15%)
      +hover($color, 15%)
    .select
      background-color: $color
    .proposal
      &-header
        .title,p
          background-color: darken($color, 15%)
    .box
      &-propostas
        border-color: $color
      &-title,&-bottom
        color: $color
      &-category
        li
          background-color: $color
    .slick
      &-prev,&-next
        color: $color
      &-slider
        .date,.time
          color: $color
    .login,.signup
      input
        border-color: $color
        &.button
          +hover($color, 15%)
      i
        color: $color
  section.#{$category}
    background-color: $color
  .category-#{$category}
    background-color: $color
    background-image: url(images/icons/#{$category}.png)
    background-position: 5px 50%
    background-repeat: no-repeat
    background-size: 22px
    border-color: darken($color, 15%)
    +hover($color, 15%)
  #proposal-category-#{$category}
    a
      background-color: $color
      background-image: url(images/icons/#{$category}.png)
      background-position: 50% 10px
      background-repeat: no-repeat
    .arrow-box:after
      border-bottom-color: $color