// ------------------------------------
// variaveis
// ------------------------------------

// espacamento
$gutter: 20px

// arredondamento
$radius: 5px

// tamanhos de fontes
$font-size-base: 16px
$font-size-big: $font-size-base + 2
$font-size-small: $font-size-base - 2
$font-size-h1: 28px
$font-size-h2: 38px
$font-size-h3: 28px
$font-size-h4: 34px


// dicionarios
$categories: (saude: #00a9bd, seguranca: #e34748, educacao: #ffb400, reducao-da-pobreza: #51d0b3)
$categories-descriptions: (saude: "Saúde é direito de todos e dever do Estado. O Sistema Único de Saúde (SUS) é universal, integral e de responsabilidade do Governo Federal, estados e municípios. Atende a todos os brasileiros.", seguranca: "A Segurança Pública é um direito fundamental, dever do Estado e responsabilidade de todos. A proteção da vida, a disseminação da cultura de paz e a integração dos órgãos e instituições são os maiores compromissos desta política pública.", educacao: "O Brasil avançou na qualidade e ampliou o acesso à educação em todos os níveis ‐ da creche à pós‐graduação. Com o Plano Nacional de Educação (PNE) para os próximos 10 anos, o Brasil consolida um caminho de oportunidades, por meio da educação, para todos os brasileiros.", reducao-da-pobreza: "Com o esforço do Brasil para reduzir a pobreza e a desigualdade, na última década, 36 milhões de pessoas superaram a miséria e o país saiu do Mapa da Fome das Nações Unidas.")


// ------------------------------------
// mixins
// ------------------------------------

// hover
=hover($color, $amount)
  &:hover
    background-color: lighten($color, $amount)
    text-decoration: none


// ------------------------------------
// base
// ------------------------------------

body
  font-family: 'Open Sans', sans-serif
  font-size: $font-size-base
  font-weight: 300
h1
  font-family: asap, sans
  font-size: $font-size-h1
  font-weight: 500
  text-transform: uppercase
h2
  border-bottom: 1px solid
  font-size: $font-size-h2
  font-weight: 300
  margin-bottom: $gutter * 2
  padding-bottom: $gutter
  text-transform: uppercase
  small
    display: block
    font-size: 16px
    text-transform: none
h3
  font-size: $font-size-h3
  font-weight: 300
  text-transform: uppercase
h4
  font-size: $font-size-h4
  font-weight: 500


// ------------------------------------
// grid
// ------------------------------------

.container, .row
  margin-bottom: $gutter


// ------------------------------------
// blocos
// ------------------------------------

// header do programa
.select
  background-color: #000
  margin-bottom: $gutter * 0.5
  .proposal
    &-link
      color: #fff
      display: inline-block
      font-size: $font-size-base + 3
      font-weight: 700
      padding-bottom: $gutter * 0.75
      padding-left: $gutter * 2.5
      padding-right: $gutter * 0.75
      padding-top: $gutter * 0.75
      text-transform: uppercase
    &-selection
      background-color: #fff
      border: 0
      float: right
      height: 57px
      width: 60%

// imagem destaque do programa, titulo, descricao e botao de acesso
.proposal-header
  position: relative
  img
    width: 100%
  p
    background-color: #000
    bottom: 140px
    color: #fff
    font-size: $font-size-base - 2
    font-weight: 700
    padding-bottom: $gutter
    padding-left: $gutter
    padding-right: $gutter
    padding-top: $gutter * 0.25
    position: absolute
    right: 0
    text-align: center
    width: 50%
    vertical-align: middle
  .title
    background-color: #000
    bottom: 170px
    color: #fff
    font-size: $font-size-base * 2
    font-weight: 700
    margin-bottom: $gutter * 1.25
    margin-left: 0
    margin-right: 0
    margin-top: $gutter * 1.25
    padding: $gutter
    position: absolute
    right: 0
    text-align: center
    text-transform: uppercase
    width: 50%
    vertical-align: middle
  .show_body
    background-color: #000
    border-radius: $radius
    cursor: pointer
    margin-bottom: $gutter * 0.5
    margin-left: auto
    margin-right: auto
    margin-top: $gutter * 0.5
    padding-bottom: $gutter * 1.5
    padding-left: 0
    padding-right: 0
    padding-top: $gutter * 1.5
    text-align: center
    transition: all 200ms
    width: 100%
    +hover(#000, 20%)
    &:hover
      span
        background-color: lighten(#000, 20%)
    a
      background: url(images/white-line.png) left center repeat-x
      color: #fff
      display: inline-block
      font-size: $font-size-h2
      font-weight: 700
      margin: 0 auto
      text-transform: uppercase
      width: 70%
      &:hover
        text-decoration: none
    span
      background-color: #000
      padding-bottom: $gutter * 0.25
      padding-left: $gutter * 0.75
      padding-right: $gutter * 0.75
      padding-top: $gutter * 0.25
      transition: all 200ms

// caixas dos programas
.box
  height: 500px
  border: 1px solid
  margin-bottom: $gutter * 0.5
  padding: $gutter
  position: relative
  &-title
    font-size: $font-size-h2
    font-weight: 400
    margin-bottom: $gutter
  &-subtitle
    font-size: $font-size-base * 1.5
    font-weight: 700
    line-height: 1.2
    margin-bottom: $gutter
  &-footer
    position: absolute
    bottom: 40px
    margin-left: -30%
    left: 50%
    width: 60%
  &-bottom
    @extend .box-footer
    bottom: 10px
    color: #000
    font-size: $font-size-small
    font-weight: 700
    text-align: center
    &:hover, &:focus
      color: #000
  &-center
    text-align: center

// votacao
.vote-actions
  .like
    background: url(images/like.png) no-repeat
    display: inline-block
    height: 72px
    margin: 0 6%
    width: 76px
  .dislike
    background-image: url(images/dislike.png)

// lista de resultados
.results-content
  .total
    float: left
  .vote-result, .updated-at
    float: right
  table
    clear: both
    font-weight: 300
    tr:nth-child(odd)
      background: #e5e5e5
    td
      padding: 0 5px
    .header
      font-weight: 700
      text-align: center
    .abstract-text
      width: 80%
    .value
      text-align: center
      width: 10%
    .truncate
      display: table
      table-layout: fixed
      width: 100%
    .truncated
      overflow-x: hidden
      text-overflow: ellipsis
      white-space: nowrap

// paginador
.paging
  padding: $gutter * 0.25
  ul
    display: table
    list-style: none
    margin: auto
    padding: 0
  li
    float: left
  span
    @extend .page-link
  .page-link
    padding: 0 7px
    font-size: $font-size-small
    font-weight: 400
    text-align: center
    background-color: #000
    color: #fff
    display: inline-block
    line-height: 24px
  .current
    background-color: lighten(#000, 20%)
  .next
    border-radius: 0 $radius $radius 0
  .prev
    border-radius:  $radius 0 0 $radius

// calendario dos ministros
.slick
  &-slider
    list-style: none
    margin-bottom: 0
    margin-left: auto
    margin-right: auto
    margin-top: $gutter * 2
    padding: 0
    position: relative
    width: 80%
    li
      background-color: #eeeff1
      margin-bottom: $gutter * 0.25
      padding: $gutter * 0.5
    span
      display: block
    .date, .time
      display: inline-block
      margin-top: $gutter
      width: 45%
  &-list
    overflow: hidden
  &-slide
    float: left
  &-def
    background-color: transparent
    border: 0
    color: #000
    font-size: 0
    position: absolute
    top: 43%
    width: 20px
    &:before
      color: #000
      font-family: "FontAwesome"
      font-size: 20px
  &-prev
    @extend .slick-def
    left: -25px
    &:before
      content: "\f053"
  &-next
    @extend .slick-def
    right: -25px
    &:before
      content: "\f054"
  &-disabled
    opacity: 0.25

// lista sem bullets
.list-unstyled
  li
    border-top: 1px solid
    font-size: $font-size-base + 2
    font-weight: 700
    padding: $gutter
    &:first-child
      border-top: 0


// ------------------------------------
// elementos
// ------------------------------------

// botao padrao
.button
  background-color: #000
  border-radius: $radius
  color: #fff
  cursor: pointer
  display: block
  font-size: $font-size-small
  font-weight: 400
  padding: $gutter 0
  text-align: center
  text-transform: uppercase
  transition: all 200ms
  +hover(#000, 20%)
  &:hover, &:focus
    color: #fff
  &-send
    span
      padding-left: $gutter * 1.5
      background-image: url(images/airplane.png)
      background-position: left center
      background-repeat: no-repeat
  &-participe
    .fa
      margin-right: $gutter * 0.5

// botao voltar
.btn
  background-color: #fff
  border-radius: 0
  border: 1px solid #ccc
  color: #000
  line-height: 3.1
  font-size: $font-size-small
  padding: 6px 12px


// ------------------------------------
// modificadores
// ------------------------------------
.hide
  display: none
h3.titulo-destaque
  font-size: $font-size-h3 + 10