@import 'utilities/variables';

@import 'nav';
@import 'header';
@import 'proposal_categories';
@import 'proposal_group';
@import 'proposal_detail';
@import 'login';
@import 'footer';
@import 'accessibility';
@import 'slick';
@import 'slick-theme';

@import 'proposal_detail/proposal-detail-base';
@import 'proposal_detail/urgencia-e-emergencia';
@import 'proposal_detail/mais-medicos';

// Prevent text size change on orientation change.
html { -webkit-text-size-adjust: 100%; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: asap, sans;
}

h1 {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #03316f;
  font-size: 28px;
  padding: 20px 0;
  margin: 0;
  display: block;
  width: 100%;
  text-transform: uppercase;
  border-bottom: 1px solid #d6dcd7;
  a {
    text-decoration: none;
    color: #03316f;
  }
}

#proposal-result {
  width: 90%;
  margin: 0 auto 40px auto;
}

#content {
  padding-bottom: 50px;
  p {
    
    text-align: justify;
    margin: 20px;
    line-height: 1.5em;
    font-size: 1.2em;

    font{
      weight: lighter;
      size: 14px;
    }
  }
}

.hide {
  display: none;
}

.mobile nav {
  position: absolute;
  bottom: 0;
}

form {
  label, input, div.label, textarea {
    width: 90%;
    margin: 0 auto;
    font-size: 14px;
    display: block;
    padding: 5px;
  }

  input, textarea {
    color: #333;
    border: 1px solid #18376C;
  }

  textarea {
    margin-bottom: 10px;
  }

  a {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    font-weight: bold;
    text-decoration: none;
    margin: 10px 20px;
  }

  .actions, .oauth {
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
  }
}

// TO_REFACT:
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 3.1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  /* border-radius: 4px; */
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.ui-helper-hidden-accessible{
  display: none;
}

// shame hack for issue #72
@media (max-width: 992px) {
  .col-md-6 > img {
    margin-bottom: 20px;
  }
}
