@charset "UTF-8";
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 300; }

h1 {
  font-family: asap, sans;
  font-size: 28px;
  font-weight: 500;
  text-transform: uppercase; }

h2 {
  border-bottom: 1px solid;
  font-size: 38px;
  font-weight: 300;
  margin-bottom: 40px;
  padding-bottom: 20px;
  text-transform: uppercase; }
  h2 small {
    display: block;
    font-size: 16px;
    text-transform: none; }

h3 {
  font-size: 28px;
  font-weight: 300;
  text-transform: uppercase; }

h4 {
  font-size: 34px;
  font-weight: 500; }

.container, .row {
  margin-bottom: 20px; }

.select {
  background-color: #000;
  margin-bottom: 10px; }
  .select .proposal-link {
    color: #fff;
    display: inline-block;
    font-size: 19px;
    font-weight: 700;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 15px;
    padding-top: 15px;
    text-transform: uppercase; }
  .select .proposal-selection {
    background-color: #fff;
    border: 0;
    float: right;
    height: 57px;
    width: 60%; }

.proposal-header {
  position: relative; }
  .proposal-header img {
    width: 100%; }
  .proposal-header p {
    background-color: #000;
    bottom: 140px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 50%;
    vertical-align: middle; }
  .proposal-header .title {
    background-color: #000;
    bottom: 170px;
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 25px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 25px;
    padding: 20px;
    position: absolute;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    width: 50%;
    vertical-align: middle; }
  .proposal-header .show_body {
    background-color: #000;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
    text-align: center;
    transition: all 200ms;
    width: 100%; }
    .proposal-header .show_body:hover {
      background-color: #333333;
      text-decoration: none; }
    .proposal-header .show_body:hover span {
      background-color: #333333; }
    .proposal-header .show_body a {
      background: url(images/white-line.png) left center repeat-x;
      color: #fff;
      display: inline-block;
      font-size: 38px;
      font-weight: 700;
      margin: 0 auto;
      text-transform: uppercase;
      width: 70%; }
      .proposal-header .show_body a:hover {
        text-decoration: none; }
    .proposal-header .show_body span {
      background-color: #000;
      padding-bottom: 5px;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 5px;
      transition: all 200ms; }

.box {
  height: 500px;
  border: 1px solid;
  margin-bottom: 10px;
  padding: 20px;
  position: relative; }
  .box-title {
    font-size: 38px;
    font-weight: 400;
    margin-bottom: 20px; }
  .box-subtitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px; }
  .box-footer, .box-bottom {
    position: absolute;
    bottom: 40px;
    margin-left: -30%;
    left: 50%;
    width: 60%; }
  .box-bottom {
    bottom: 10px;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    text-align: center; }
    .box-bottom:hover, .box-bottom:focus {
      color: #000; }
  .box-center {
    text-align: center; }

.vote-actions .like {
  background: url(images/like.png) no-repeat;
  display: inline-block;
  height: 72px;
  margin: 0 6%;
  width: 76px; }
.vote-actions .dislike {
  background-image: url(images/dislike.png); }

.results-content .total {
  float: left; }
.results-content .vote-result, .results-content .updated-at {
  float: right; }
.results-content table {
  clear: both;
  font-weight: 300; }
  .results-content table tr:nth-child(odd) {
    background: #e5e5e5; }
  .results-content table td {
    padding: 0 5px; }
  .results-content table .header {
    font-weight: 700;
    text-align: center; }
  .results-content table .abstract-text {
    width: 80%; }
  .results-content table .value {
    text-align: center;
    width: 10%; }
  .results-content table .truncate {
    display: table;
    table-layout: fixed;
    width: 100%; }
  .results-content table .truncated {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }

.paging {
  padding: 5px; }
  .paging ul {
    display: table;
    list-style: none;
    margin: auto;
    padding: 0; }
  .paging li {
    float: left; }
  .paging .page-link, .paging span {
    padding: 0 7px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    background-color: #000;
    color: #fff;
    display: inline-block;
    line-height: 24px; }
  .paging .current {
    background-color: #333333; }
  .paging .next {
    border-radius: 0 5px 5px 0; }
  .paging .prev {
    border-radius: 5px 0 0 5px; }

.slick-slider {
  list-style: none;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding: 0;
  position: relative;
  width: 80%; }
  .slick-slider li {
    background-color: #eeeff1;
    margin-bottom: 5px;
    padding: 10px; }
  .slick-slider span {
    display: block; }
  .slick-slider .date, .slick-slider .time {
    display: inline-block;
    margin-top: 20px;
    width: 45%; }
.slick-list {
  overflow: hidden; }
.slick-slide {
  float: left; }
.slick-def, .slick-prev, .slick-next {
  background-color: transparent;
  border: 0;
  color: #000;
  font-size: 0;
  position: absolute;
  top: 43%;
  width: 20px; }
  .slick-def:before, .slick-prev:before, .slick-next:before {
    color: #000;
    font-family: "FontAwesome";
    font-size: 20px; }
.slick-prev {
  left: -25px; }
  .slick-prev:before {
    content: ""; }
.slick-next {
  right: -25px; }
  .slick-next:before {
    content: ""; }
.slick-disabled {
  opacity: 0.25; }

.list-unstyled li {
  border-top: 1px solid;
  font-size: 18px;
  font-weight: 700;
  padding: 20px; }
  .list-unstyled li:first-child {
    border-top: 0; }

.button {
  background-color: #000;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 400;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
  transition: all 200ms; }
  .button:hover {
    background-color: #333333;
    text-decoration: none; }
  .button:hover, .button:focus {
    color: #fff; }
  .button-send span {
    padding-left: 30px;
    background-image: url(images/airplane.png);
    background-position: left center;
    background-repeat: no-repeat; }
  .button-participe .fa {
    margin-right: 10px; }

.btn {
  background-color: #fff;
  border-radius: 0;
  border: 1px solid #ccc;
  color: #000;
  line-height: 3.1;
  font-size: 14px;
  padding: 6px 12px; }

.hide {
  display: none; }

h3.titulo-destaque {
  font-size: 38px; }
