@charset "UTF-8";
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400; }

h1 {
  font-size: 28px;
  font-weight: 500;
  margin: 20px 0;
  text-transform: uppercase; }
  h1 a {
    color: #03316f; }

h2 {
  border-bottom: 1px solid #c4c8ce;
  font-size: 38px;
  font-weight: 500;
  margin-bottom: 40px;
  padding-bottom: 20px; }
  h2 small {
    display: block;
    font-size: 16px;
    padding-top: 5px;
    text-transform: none; }

h3 {
  font-size: 28px;
  font-weight: 500; }

h4 {
  font-size: 34px;
  font-weight: 500; }

p, ul, select {
  color: #000; }

blockquote {
  border-bottom: 5px solid;
  border-left: 0;
  border-right: 0;
  border-top: 5px solid;
  font-size: 28px;
  margin: 20px 0;
  padding: 20px 0; }

.container, .row {
  margin-bottom: 20px; }

.hide {
  display: none; }

.button, .button-cancela, .login input.button, .signup input.button {
  background-color: #387bf9;
  border-bottom: 3px solid #0751de;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 15px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 15px;
  text-align: center;
  transition: all 400ms; }
  .button:hover, .button-cancela:hover, .login input.button:hover, .signup input.button:hover {
    background-color: #0751de;
    text-decoration: none; }
  .button:hover, .button-cancela:hover, .login input.button:hover, .signup input.button:hover, .button:focus, .button-cancela:focus, .login input.button:focus, .signup input.button:focus {
    color: #fff; }
  .button-inline {
    display: inline-block;
    padding-bottom: 5px !important;
    padding-top: 5px !important; }
  .button-send span {
    background-image: url(images/airplane.png);
    background-position: left center;
    background-repeat: no-repeat;
    color: #fff;
    padding-left: 30px; }
  .button-participe .fa {
    margin-right: 10px; }

.btn {
  background-color: transparent;
  border: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;
  vertical-align: middle; }

.icon {
  background-repeat: no-repeat;
  background-position: 50% !important;
  background-size: auto !important;
  border: 0 !important;
  border-radius: 100%;
  color: #fff !important;
  display: inline-block;
  font-size: 20px;
  height: 36px;
  min-width: 0 !important;
  text-align: center;
  transform: all 200ms;
  width: 36px; }
  .icon-facebook {
    background-color: #537abb;
    padding: 8px 0;
    transition: all 400ms; }
    .icon-facebook:hover {
      background-color: #37568b;
      text-decoration: none; }
  .icon-twitter {
    background-color: #78caee;
    padding: 8px 0;
    transition: all 400ms; }
    .icon-twitter:hover {
      background-color: #34afe5;
      text-decoration: none; }
  .icon-gplus {
    background-color: #d54000;
    padding: 9px 0;
    transition: all 400ms; }
    .icon-gplus:hover {
      background-color: #892900;
      text-decoration: none; }
  .icon-whatsapp {
    background-color: #56ba62;
    padding: 7px 0;
    transition: all 400ms; }
    .icon-whatsapp:hover {
      background-color: #398b43;
      text-decoration: none; }
  .icon-email {
    background-color: #edb24c;
    padding: 7px 0;
    transition: all 400ms; }
    .icon-email:hover {
      background-color: #d79016;
      text-decoration: none; }
  .icon.disabled {
    background-color: #fff;
    color: #000;
    transition: all 400ms; }
    .icon.disabled:hover {
      background-color: #d9d9d9;
      text-decoration: none; }
  .icon-theme {
    background-size: 35px !important;
    height: 48px;
    width: 48px;
    vertical-align: middle;
    margin-right: 10px; }
  .icon-vote {
    display: inline-block;
    font-size: 35px;
    height: 64px;
    margin: 0 6%;
    padding: 3px 0;
    width: 64px; }
    .icon-vote.dislike {
      background-color: #db4127;
      border-bottom: 3px solid #9c2d1a !important;
      transition: all 400ms; }
      .icon-vote.dislike:hover {
        background-color: #9c2d1a;
        text-decoration: none; }
    .icon-vote.like {
      background-color: #32dbb5;
      border-bottom: 3px solid #1da485 !important;
      transition: all 400ms; }
      .icon-vote.like:hover {
        background-color: #1da485;
        text-decoration: none; }

.social {
  position: relative;
  z-index: 1; }
  .social.top {
    float: right;
    margin-top: 40px; }
  .social.right {
    padding-top: 10px; }
    .social.right > span {
      color: #000;
      display: inline-block;
      font-size: 12px;
      font-weight: 300;
      padding-right: 10px;
      text-align: right;
      vertical-align: middle; }
    .social.right ul {
      display: inline-block;
      vertical-align: middle; }
  .social span {
    display: block;
    margin-bottom: 10px; }
  .social ul {
    list-style: none;
    padding-left: 0; }
  .social li {
    display: inline-block;
    padding: 0 2px !important;
    vertical-align: top; }

h1 {
  float: left; }
  h1 a {
    background: url(images/logo.png) no-repeat center;
    display: inline-block;
    height: 80px;
    text-indent: -99999px;
    width: 160px; }

#content {
  margin-bottom: 30px; }

.content {
  padding-top: 30px; }
  .content.background {
    background-color: #f1f1f1; }

.tab {
  margin-top: 20px; }
  .tab ul {
    font-size: 0;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0; }
  .tab li {
    display: inline-block;
    font-size: 16px;
    width: 50%; }
  .tab a {
    background-color: #efefef;
    border-bottom: 1px solid #000;
    color: #000;
    display: block;
    font-weight: 700;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 20px;
    text-align: center;
    text-transform: uppercase; }
  .tab .active {
    background-color: #fff;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000; }

#proposal-categories ul {
  list-style: none;
  padding-left: 0; }

.themes li {
  border-bottom: 1px solid #f1f1f1;
  display: block;
  font-size: 16px; }
.themes a {
  background-color: #fff;
  color: #484848;
  display: block;
  font-family: asap, sans;
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  text-transform: uppercase; }
  .themes a:hover, .themes a:focus {
    text-decoration: none; }
.themes .arrow-box {
  position: relative;
  top: 20px; }
  .themes .arrow-box:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: "";
    position: absolute;
    border-bottom-color: #000;
    border-width: 8px;
    margin-left: -8px; }

.proposal-container {
  border-radius: 3px;
  margin-bottom: 20px; }
.proposal-list {
  list-style: none;
  padding-left: 0; }
.proposal-group ul {
  list-style: none;
  padding-left: 0; }

.box {
  background-color: #fff;
  border-radius: 3px;
  color: #000;
  display: block;
  margin-top: 30px;
  overflow: hidden;
  transition: all 400ms;
  transition: all 400ms; }
  .box:hover {
    background-color: #d9d9d9;
    text-decoration: none; }
  .box:hover {
    text-decoration: none; }
  .box p {
    padding-bottom: 15px; }
  .box-propostas {
    height: auto;
    border: 1px solid;
    margin-bottom: 10px;
    margin-top: 0;
    padding: 20px;
    position: relative; }
    .box-propostas:hover {
      background-color: #fff; }
    .box-propostas p {
      border-bottom: 0;
      padding-bottom: inherit; }
  .box-apoie p {
    border-bottom: 0;
    padding-bottom: inherit; }
  .box-header {
    color: #000;
    font-size: 18px;
    font-weight: 700; }
    .box-header p {
      font-size: 14px;
      font-weight: 500;
      margin-top: 10px; }
  .box-body {
    padding: 20px; }
    .box-body img {
      margin-left: -20px;
      margin-right: -20px;
      margin-top: -20px;
      margin-bottom: 20px;
      max-width: 120%; }
  .box-category {
    font-size: 14px;
    font-weight: 700;
    list-style: none;
    text-transform: uppercase; }
    .box-category div {
      color: #fff;
      padding-bottom: 5px;
      padding-left: 20px;
      padding-right: 10px;
      padding-top: 5px; }
  .box-title {
    font-size: 38px;
    font-weight: 400;
    margin-bottom: 20px; }
  .box-subtitle, .box-apoie p {
    color: #335277;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px; }
  .box-info {
    margin-bottom: 20px; }
  .box-footer, .box-bottom {
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 40%; }
  .box-bottom {
    bottom: 10px;
    color: #000;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 0;
    text-align: center; }
    .box-bottom:hover, .box-bottom:focus {
      color: #000; }
  .box-center {
    text-align: center; }

.select {
  background-color: #000;
  margin-bottom: 10px;
  padding: 5px; }
  .select .proposal-link {
    color: #fff;
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 0;
    padding-left: 45px;
    padding-right: 0;
    padding-top: 0;
    vertical-align: middle; }
  .select .proposal-selection {
    background-color: #fff;
    border: 0;
    border-radius: 3px;
    float: right;
    margin: 4px;
    width: 50%;
    vertical-align: middle; }

.proposal-header {
  position: relative; }
  .proposal-header .title, .proposal-header p {
    background-color: #000;
    bottom: 170px;
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 25px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 25px;
    padding: 20px;
    position: absolute;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    width: 50%;
    vertical-align: middle; }
  .proposal-header .show_body {
    margin-bottom: 20px;
    margin-top: 20px; }
    .proposal-header .show_body a {
      background-color: #666666;
      border-bottom: 5px solid #000;
      border-left: 0;
      border-right: 0;
      border-top: 0;
      border-radius: 6px;
      color: #fff;
      font-size: 38px;
      font-weight: 700;
      padding-bottom: 10px;
      padding-left: 0;
      padding-right: 0;
      padding-top: 10px;
      text-align: center;
      transition: all 400ms; }
      .proposal-header .show_body a:hover {
        background-color: black;
        text-decoration: none; }
  .proposal-header img {
    width: 100%; }
  .proposal-header p {
    bottom: 140px;
    font-size: 14px;
    margin-bottom: 10px;
    padding-top: 5px;
    text-transform: none; }

.participar {
  text-align: right; }
  .participar .participe {
    background-color: #387bf9;
    border-color: #0751de;
    font-size: 14px;
    padding: 2px 10px; }
  .participar .entrar {
    background: url(images/icons/icon-user.png) no-repeat 20px 50%;
    border-left: 1px solid #bcbcbc;
    margin-left: 20px;
    padding-left: 40px; }

.login, .signup {
  text-align: left; }
  .login .message, .signup .message {
    background: #fcc;
    border: 1px solid #b00;
    border-radius: 3px;
    color: #b00;
    font-weight: 700;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    margin-bottom: 20px; }
  .login input, .signup input {
    border: 1px solid;
    display: block;
    margin-bottom: 20px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    width: 100%; }
    .login input.button-cancela, .login input.button, .signup input.button-cancela, .signup input.button {
      margin-bottom: 5px; }
  .login .label, .signup .label {
    vertical-align: middle; }
  .login .icon, .signup .icon {
    vertical-align: middle; }
  .login .oauth, .signup .oauth {
    margin-top: 10px;
    text-align: right; }
  .login .forgot-password, .signup .forgot-password {
    display: block;
    font-size: 14px;
    text-align: center; }
  .login i, .signup i {
    font-style: normal;
    font-weight: 700;
    padding-left: 5px;
    padding-right: 5px; }
  .login .row input, .signup .row input {
    margin-bottom: 0; }

.vote-actions .like {
  display: inline-block; }

.results-content .total {
  float: left; }
.results-content .vote-result, .results-content .updated-at {
  float: right; }
.results-content .updated-at {
  margin-top: 20px; }
.results-content table {
  clear: both;
  font-weight: 300; }
  .results-content table tr:nth-child(odd) {
    background: #e5e5e5; }
  .results-content table td {
    padding: 5px; }
  .results-content table .header {
    font-weight: 700;
    text-align: center; }
  .results-content table .abstract-text {
    width: 80%; }
    .results-content table .abstract-text p {
      margin: inherit; }
  .results-content table .value {
    text-align: center;
    width: 10%; }
  .results-content table .truncate {
    display: table;
    table-layout: fixed;
    width: 100%; }
  .results-content table .truncated {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }

.paging {
  padding: 5px; }
  .paging ul {
    display: table;
    list-style: none;
    margin: auto;
    padding: 0; }
  .paging li {
    float: left; }
  .paging .page-link, .paging span {
    padding: 0 7px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    background-color: #000;
    color: #fff;
    display: inline-block;
    line-height: 24px; }
  .paging .current {
    background-color: #262626; }
  .paging .next {
    border-radius: 0 3px 3px 0; }
  .paging .prev {
    border-radius: 3px 0 0 3px; }

.slick-slider {
  list-style: none;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding: 0;
  position: relative;
  width: 80%; }
  .slick-slider li {
    background-color: #eeeff1;
    margin-bottom: 5px;
    padding: 10px; }
  .slick-slider span {
    display: block; }
  .slick-slider .date, .slick-slider .time {
    display: inline-block;
    margin-top: 20px;
    width: 45%; }
.slick-list {
  overflow: hidden; }
.slick-slide {
  float: left; }
.slick-def, .slick-prev, .slick-next {
  background-color: transparent;
  border: 0;
  color: #000;
  font-size: 0;
  position: absolute;
  top: 43%;
  width: 20px; }
  .slick-def:before, .slick-prev:before, .slick-next:before {
    font-family: "FontAwesome";
    font-size: 20px; }
.slick-prev {
  left: -25px; }
  .slick-prev:before {
    content: ""; }
.slick-next {
  right: -25px; }
  .slick-next:before {
    content: ""; }
.slick-disabled {
  opacity: 0.25; }

.list-container-border {
  border: 3px solid;
  border-radius: 3px; }

.list-unstyled li {
  border-top: 1px solid #c4c8ce;
  font-size: 18px;
  font-weight: 700;
  padding: 20px; }
  .list-unstyled li:first-child {
    border-top: 0; }
.list-styled {
  margin-left: 20px;
  padding-left: 0; }

.no-border li {
  border: 0;
  padding-bottom: 5px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 5px; }

h2.name {
  color: #6c6c6c;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-transform: none; }
h2.menu {
  background-color: #484848;
  border: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  margin: 0;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px; }

h3.titulo-destaque {
  font-size: 38px; }

.bloco-destaque {
  padding: 35px;
  border-radius: 3px; }
  .bloco-destaque h4 {
    margin-bottom: 60px; }

section.saude .description {
  margin-top: 20px; }
  section.saude .description:before {
    content: "Sa├║de ├® direito de todos e dever do Estado. O Sistema ├Ünico de Sa├║de (SUS) ├® universal, integral e de responsabilidade do Governo Federal, estados e munic├¡pios. Atende a todos os brasileiros.";
    color: #6c6c6c;
    font-family: asap, sans;
    padding-top: 20px; }

section.seguranca-publica .description {
  margin-top: 20px; }
  section.seguranca-publica .description:before {
    content: "A seguran├ºa p├║blica ├® um direito fundamental dos cidad├úos. A prote├º├úo da vida, a dissemina├º├úo da cultura da paz e a integra├º├úo dos ├│rg├úos e institui├º├Áes municipais, estaduais e federais s├úo os maiores compromissos dessa pol├¡tica p├║blica.";
    color: #6c6c6c;
    font-family: asap, sans;
    padding-top: 20px; }

section.educacao .description {
  margin-top: 20px; }
  section.educacao .description:before {
    content: "Uma p├ítria educadora se faz com oportunidades para todos. Nos ├║ltimos anos, o Brasil criou esse caminho de oportunidades. Ampliamos o acesso ├á educa├º├úo em todos os n├¡veis de ensino ÔÇô da creche ├á p├│s-gradua├º├úo ÔÇô e para todos os brasileiros, independentemente de sua classe social. E ainda h├í muito a fazer. O Plano Nacional de Educa├º├úo (PNE) estabelece novas metas para que o governo federal trabalhe em parceria com a sociedade, com os estados e os munic├¡pios na constru├º├úo de um futuro melhor. Queremos agora um salto na qualidade do ensino.";
    color: #6c6c6c;
    font-family: asap, sans;
    padding-top: 20px; }

section.reducao-da-pobreza .description {
  margin-top: 20px; }
  section.reducao-da-pobreza .description:before {
    content: "Com o esfor├ºo do Brasil para reduzir a pobreza e a desigualdade, 36 milh├Áes de pessoas superaram a mis├®ria na ├║ltima d├®cada e o pa├¡s saiu do Mapa da Fome das Na├º├Áes Unidas.";
    color: #6c6c6c;
    font-family: asap, sans;
    padding-top: 20px; }

.saude {
  color: #3449b7; }
  .saude a {
    color: #3449b7; }
  .saude .button, .saude .button-cancela, .saude .login input.button, .login .saude input.button, .saude .signup input.button, .signup .saude input.button, .saude .show_body a {
    background-color: #3449b7;
    border-color: #23317b;
    color: #fff;
    transition: all 400ms; }
    .saude .button:hover, .saude .button-cancela:hover, .saude .show_body a:hover {
      background-color: #23317b;
      text-decoration: none; }
  .saude .select {
    background-color: #3449b7; }
  .saude .proposal-header .title, .saude .proposal-header p, .saude .proposal-header p {
    background-color: #23317b; }
  .saude .box-propostas {
    border-color: #3449b7; }
  .saude .box-title, .saude .box-bottom {
    color: #3449b7; }
  .saude .box-category li {
    background-color: #3449b7; }
  .saude .slick-prev, .saude .slick-next {
    color: #3449b7; }
  .saude .slick-slider .date, .saude .slick-slider .time {
    color: #3449b7; }
  .saude .login input, .saude .signup input {
    border-color: #3449b7; }
    .saude .login input.button-cancela, .saude .login input.button, .saude .signup input.button-cancela, .saude .signup input.button {
      transition: all 400ms; }
      .saude .login input.button-cancela:hover, .saude .login input.button:hover, .saude .signup input.button-cancela:hover, .saude .signup input.button:hover {
        background-color: #23317b;
        text-decoration: none; }
  .saude .login i, .saude .signup i {
    color: #3449b7; }
  .saude .list-unstyled li {
    color: #3449b7; }
  .saude .bloco-destaque {
    background-color: #3449b7;
    background-image: url(http://www.participa.br/articles/public/0009/6039/mais-medicos-foto4.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    color: #fff; }
    .saude .bloco-destaque p {
      color: #fff; }
  .saude .select .proposal-link {
    background-image: url(images/icons/saude.png);
    background-position: 5px 50%;
    background-repeat: no-repeat;
    background-size: 32px; }

.category-saude {
  background-color: #3449b7;
  background-position: 5px 50%;
  background-repeat: no-repeat;
  background-size: 40px;
  border-color: #23317b; }

.icon-saude {
  background-color: #3449b7;
  background-image: url(images/icons/saude.png); }

.seguranca-publica {
  color: #ee2a61; }
  .seguranca-publica a {
    color: #ee2a61; }
  .seguranca-publica .button, .seguranca-publica .button-cancela, .seguranca-publica .login input.button, .login .seguranca-publica input.button, .seguranca-publica .signup input.button, .signup .seguranca-publica input.button, .seguranca-publica .show_body a {
    background-color: #ee2a61;
    border-color: #bc0f40;
    color: #fff;
    transition: all 400ms; }
    .seguranca-publica .button:hover, .seguranca-publica .button-cancela:hover, .seguranca-publica .show_body a:hover {
      background-color: #bc0f40;
      text-decoration: none; }
  .seguranca-publica .select {
    background-color: #ee2a61; }
  .seguranca-publica .proposal-header .title, .seguranca-publica .proposal-header p, .seguranca-publica .proposal-header p {
    background-color: #bc0f40; }
  .seguranca-publica .box-propostas {
    border-color: #ee2a61; }
  .seguranca-publica .box-title, .seguranca-publica .box-bottom {
    color: #ee2a61; }
  .seguranca-publica .box-category li {
    background-color: #ee2a61; }
  .seguranca-publica .slick-prev, .seguranca-publica .slick-next {
    color: #ee2a61; }
  .seguranca-publica .slick-slider .date, .seguranca-publica .slick-slider .time {
    color: #ee2a61; }
  .seguranca-publica .login input, .seguranca-publica .signup input {
    border-color: #ee2a61; }
    .seguranca-publica .login input.button-cancela, .seguranca-publica .login input.button, .seguranca-publica .signup input.button-cancela, .seguranca-publica .signup input.button {
      transition: all 400ms; }
      .seguranca-publica .login input.button-cancela:hover, .seguranca-publica .login input.button:hover, .seguranca-publica .signup input.button-cancela:hover, .seguranca-publica .signup input.button:hover {
        background-color: #bc0f40;
        text-decoration: none; }
  .seguranca-publica .login i, .seguranca-publica .signup i {
    color: #ee2a61; }
  .seguranca-publica .list-unstyled li {
    color: #ee2a61; }
  .seguranca-publica .bloco-destaque {
    background-color: #ee2a61;
    background-image: url(http://www.participa.br/articles/public/0009/6039/mais-medicos-foto4.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    color: #fff; }
    .seguranca-publica .bloco-destaque p {
      color: #fff; }
  .seguranca-publica .select .proposal-link {
    background-image: url(images/icons/seguranca-publica.png);
    background-position: 5px 50%;
    background-repeat: no-repeat;
    background-size: 32px; }

.category-seguranca-publica {
  background-color: #ee2a61;
  background-position: 5px 50%;
  background-repeat: no-repeat;
  background-size: 40px;
  border-color: #bc0f40; }

.icon-seguranca-publica {
  background-color: #ee2a61;
  background-image: url(images/icons/seguranca-publica.png); }

.educacao {
  color: #f39720; }
  .educacao a {
    color: #f39720; }
  .educacao .button, .educacao .button-cancela, .educacao .login input.button, .login .educacao input.button, .educacao .signup input.button, .signup .educacao input.button, .educacao .show_body a {
    background-color: #f39720;
    border-color: #bc6f0a;
    color: #fff;
    transition: all 400ms; }
    .educacao .button:hover, .educacao .button-cancela:hover, .educacao .show_body a:hover {
      background-color: #bc6f0a;
      text-decoration: none; }
  .educacao .select {
    background-color: #f39720; }
  .educacao .proposal-header .title, .educacao .proposal-header p, .educacao .proposal-header p {
    background-color: #bc6f0a; }
  .educacao .box-propostas {
    border-color: #f39720; }
  .educacao .box-title, .educacao .box-bottom {
    color: #f39720; }
  .educacao .box-category li {
    background-color: #f39720; }
  .educacao .slick-prev, .educacao .slick-next {
    color: #f39720; }
  .educacao .slick-slider .date, .educacao .slick-slider .time {
    color: #f39720; }
  .educacao .login input, .educacao .signup input {
    border-color: #f39720; }
    .educacao .login input.button-cancela, .educacao .login input.button, .educacao .signup input.button-cancela, .educacao .signup input.button {
      transition: all 400ms; }
      .educacao .login input.button-cancela:hover, .educacao .login input.button:hover, .educacao .signup input.button-cancela:hover, .educacao .signup input.button:hover {
        background-color: #bc6f0a;
        text-decoration: none; }
  .educacao .login i, .educacao .signup i {
    color: #f39720; }
  .educacao .list-unstyled li {
    color: #f39720; }
  .educacao .bloco-destaque {
    background-color: #f39720;
    background-image: url(http://www.participa.br/articles/public/0009/6039/mais-medicos-foto4.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    color: #fff; }
    .educacao .bloco-destaque p {
      color: #fff; }
  .educacao .select .proposal-link {
    background-image: url(images/icons/educacao.png);
    background-position: 5px 50%;
    background-repeat: no-repeat;
    background-size: 32px; }

.category-educacao {
  background-color: #f39720;
  background-position: 5px 50%;
  background-repeat: no-repeat;
  background-size: 40px;
  border-color: #bc6f0a; }

.icon-educacao {
  background-color: #f39720;
  background-image: url(images/icons/educacao.png); }

.reducao-da-pobreza {
  color: #3ebb8f; }
  .reducao-da-pobreza a {
    color: #3ebb8f; }
  .reducao-da-pobreza .button, .reducao-da-pobreza .button-cancela, .reducao-da-pobreza .login input.button, .login .reducao-da-pobreza input.button, .reducao-da-pobreza .signup input.button, .signup .reducao-da-pobreza input.button, .reducao-da-pobreza .show_body a {
    background-color: #3ebb8f;
    border-color: #2b8263;
    color: #fff;
    transition: all 400ms; }
    .reducao-da-pobreza .button:hover, .reducao-da-pobreza .button-cancela:hover, .reducao-da-pobreza .show_body a:hover {
      background-color: #2b8263;
      text-decoration: none; }
  .reducao-da-pobreza .select {
    background-color: #3ebb8f; }
  .reducao-da-pobreza .proposal-header .title, .reducao-da-pobreza .proposal-header p, .reducao-da-pobreza .proposal-header p {
    background-color: #2b8263; }
  .reducao-da-pobreza .box-propostas {
    border-color: #3ebb8f; }
  .reducao-da-pobreza .box-title, .reducao-da-pobreza .box-bottom {
    color: #3ebb8f; }
  .reducao-da-pobreza .box-category li {
    background-color: #3ebb8f; }
  .reducao-da-pobreza .slick-prev, .reducao-da-pobreza .slick-next {
    color: #3ebb8f; }
  .reducao-da-pobreza .slick-slider .date, .reducao-da-pobreza .slick-slider .time {
    color: #3ebb8f; }
  .reducao-da-pobreza .login input, .reducao-da-pobreza .signup input {
    border-color: #3ebb8f; }
    .reducao-da-pobreza .login input.button-cancela, .reducao-da-pobreza .login input.button, .reducao-da-pobreza .signup input.button-cancela, .reducao-da-pobreza .signup input.button {
      transition: all 400ms; }
      .reducao-da-pobreza .login input.button-cancela:hover, .reducao-da-pobreza .login input.button:hover, .reducao-da-pobreza .signup input.button-cancela:hover, .reducao-da-pobreza .signup input.button:hover {
        background-color: #2b8263;
        text-decoration: none; }
  .reducao-da-pobreza .login i, .reducao-da-pobreza .signup i {
    color: #3ebb8f; }
  .reducao-da-pobreza .list-unstyled li {
    color: #3ebb8f; }
  .reducao-da-pobreza .bloco-destaque {
    background-color: #3ebb8f;
    background-image: url(http://www.participa.br/articles/public/0009/6039/mais-medicos-foto4.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    color: #fff; }
    .reducao-da-pobreza .bloco-destaque p {
      color: #fff; }
  .reducao-da-pobreza .select .proposal-link {
    background-image: url(images/icons/reducao-da-pobreza.png);
    background-position: 5px 50%;
    background-repeat: no-repeat;
    background-size: 32px; }

.category-reducao-da-pobreza {
  background-color: #3ebb8f;
  background-position: 5px 50%;
  background-repeat: no-repeat;
  background-size: 40px;
  border-color: #2b8263; }

.icon-reducao-da-pobreza {
  background-color: #3ebb8f;
  background-image: url(images/icons/reducao-da-pobreza.png); }

.contrast {
  background-color: #000;
  color: #fff; }
  .contrast .container h2, .contrast .container h3, .contrast .container h4, .contrast .container a, .contrast .container p, .contrast .container li, .contrast .container label, .contrast .container .label, .contrast .container .login i {
    color: #fff; }
  .contrast .container a {
    text-decoration: underline; }
  .contrast .container small {
    color: #999999; }
  .contrast .button, .contrast .button-cancela, .contrast .login input.button, .login .contrast input.button, .contrast .signup input.button, .signup .contrast input.button, .contrast .show_body a, .contrast .login input.button-cancela, .contrast .login input.button, .contrast .box-category li {
    background-color: #fff;
    border-color: #999999;
    color: #000;
    text-decoration: none;
    transition: all 400ms; }
    .contrast .button:hover, .contrast .button-cancela:hover, .contrast .show_body a:hover, .contrast .login input.button-cancela:hover, .contrast .login input.button:hover, .contrast .box-category li:hover {
      background-color: #999999;
      text-decoration: none; }
  .contrast .icon-facebook {
    background-image: url(images/icons/icon-facebook-contrast.png) !important; }
  .contrast .icon-twitter {
    background-image: url(images/icons/icon-twitter-contrast.png) !important; }
  .contrast .icon-gplus {
    background-image: url(images/icons/icon-gplus-contrast.png) !important; }
  .contrast .icon-whatsapp {
    background-image: url(images/icons/icon-whatsapp-contrast.png) !important; }
  .contrast .tab a {
    background-color: #262626;
    border-bottom-color: #fff; }
  .contrast .tab .active {
    background-color: #000;
    border-color: #fff;
    border-bottom-color: #000; }
  .contrast #proposal-categories, .contrast #proposal-group {
    border-color: #fff; }
  .contrast .proposal-category a {
    background-color: #262626 !important; }
  .contrast .proposal-category .arrow-box:after {
    border-bottom-color: #262626 !important; }
  .contrast .select {
    background-color: #262626; }
  .contrast section {
    background-color: #262626; }
    .contrast section:hover {
      background-color: #262626; }
    .contrast section .box {
      background-color: #000; }
  .contrast .proposal-header .title, .contrast .proposal-header p, .contrast .proposal-header p {
    background-color: #262626; }
  .contrast .box {
    background-color: #262626;
    text-decoration: none; }
    .contrast .box-propostas {
      border-color: #fff; }
    .contrast .box-title, .contrast .box-subtitle, .contrast .box-apoie p, .box-apoie .contrast p, .contrast .box-info, .contrast .box-bottom, .contrast .box .social span, .contrast .box-header {
      color: #fff; }
  .contrast .slick-prev, .contrast .slick-next {
    color: #fff; }
  .contrast .slick-slider li {
    background-color: #000; }
  .contrast .slick-slider .date, .contrast .slick-slider .time {
    color: #fff; }
  .contrast .bloco-destaque {
    background: #262626; }
