@each $category, $color in $categories {
  .#{$category} {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    .proposal-detail-base a {
      color: $color;
    }
    .bloco-destaque {
      background-color: $color;
    }
    .big {
      font-size: 24px;
    }
    h2 {
      border-bottom: 1px solid #eeeff1;
      color: $color;
      font-size: 38px;
      font-weight: 300;
      padding-bottom: .5em;
      text-transform: uppercase;
      small {
        display: block;
        font-size: 16px;
        font-weight: 300;
        margin-top: -.1em;
        text-transform: none;
      }
    }
    h3 {
      color: $color;
      font-size: 28px;
      font-weight: 300;
      text-transform: uppercase;
      .border {
        border-bottom: 1px solid #eeeff1;        
        padding-bottom: 20px;
      }
    }
    h4 {
      font-size: 24px;
      color: $color;
      text-transform: none;
    }
    h5 {
      color: $color;
      font-size: 22px;
      margin-top: 15px;
    }
    img {
      &.pull-left {
        margin-right: 20px;
      }
      &.pull-right {
        margin-left: 20px;
      }
    }
    blockquote {
      border-bottom: 5px solid $color;
      border-top: 5px solid $color;
      border-left: 0;
      border-right: 0;
      margin: 20px 0;
      padding-left: 0;
      padding-right: 0;
      p {
        font-size: 30px;
      }
    }
    ul {
      padding-left: 1em;
      &.list-unstyled {
        li {
          background-color: transparent;
          border-bottom: 1px solid #e0e0e0;
          color: $color;
          font-size: 18px;
          font-weight: 700;
          height: auto;
          padding: 1em;
          &:last-child {
            border-bottom: none;
          }
        }
      }
      &.list-styled {
        margin-left: 1.2em;
        list-style: inherit;
        li {
          list-style: inherit;
          width: auto;
          padding: 0;
          height: auto;
        }
      }
      &.no-border {
        li {
          border: 0;
          padding: 0 0 0.5em;
        }
      }
    }
    .go-to-proposal-button a {
      background: $color;
      border-radius: 3px;
      color: #fff;
      display: block;
      padding: 1em;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      .fa-reply {
        margin-right: .7em;
      }
    }
    .row {
      margin-bottom: 1.5em;
    }
  }
}
