body {
  color: $default-color;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

h1 {
  border-bottom: 1px solid #d6dcd7;
  font-family: 'Asap', sans-serif;
  font-size: $header-h1-size;
  padding-bottom: $default-spacing-size;
  text-transform: uppercase;
  a {
    color: $header-color;
  }
}

a {
  color: $link-color;
  text-decoration: none;
}